@model Web.Models.Newsletter.NewsletterViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>NewsletterViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanBeSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanBeSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanBeDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanBeDeleted)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
